@font-face {
    font-family: 'Glacial Indifference';
    src: url('../fonts/GlacialIndifference-Bold.woff2') format('woff2'),
        url('../fonts/GlacialIndifference-Bold.woff') format('woff'),
        url('../fonts/GlacialIndifference-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('../fonts/GlacialIndifference-Regular.woff2') format('woff2'),
        url('../fonts/GlacialIndifference-Regular.woff') format('woff'),
        url('../fonts/GlacialIndifference-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli-Light.woff2') format('woff2'),
        url('../fonts/Muli-Light.woff') format('woff'),
        url('../fonts/Muli-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli.woff2') format('woff2'),
        url('../fonts/Muli.woff') format('woff'),
        url('../fonts/Muli.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


